<?xml version="1.0" encoding="UTF-8"?>
<text>
	<english lang="en"><![CDATA[<link rel="stylesheet" href="/menu/mbcsmb9kax.css" type="text/css" />
          <ul>
            <!-- Navigation menus created with the free version of Easy CSS Menu downloaded from www.easycssmenu.com
                 You are free to use this menu code for personal, non-commercial use only. Any other use is a serious violation of copyright laws.
                 You are required to retain this comment block in your website code in an unchanged fashion.
                 The above limitations do not apply on menus created with the paid version of the software. -->
            <div id="mb9kaxebul_wrapper" style="max-width: 1024px;">
              <ul id="mb9kaxebul_table" class="mb9kaxebul_menulist css_menu">
              <li title="Back to home"><div class="buttonbg" style="width: 64px;"><a href="index.html" target="_self" class="button_1">Home</a></div></li>
              <li title="The progress of my book"><div class="buttonbg" style="width: 75px;"><a href="book_eng.html" target="_self">My Book</a></div></li>
              <li title="About the fire in 1904"><div class="buttonbg" style="width: 102px;"><a href="aalesund_eng.html" target="_self">Aalesund fire</a></div></li>
              <li><div class="arrow buttonbg" style="width: 112px;"><a class="button_7">Interests etc</a></div>
              <ul>
              <li class="first_item"><a href="int_eng.html" target="_self" title="My interests about many things">Interests</a></li>
              <li><a href="tech_eng.html" target="_self" title="Technology I'm interested in">Technology</a></li>
              <li class="last_item"><a href="videos_eng.html" target="_self" title="Videos I see almost every day">Videos I like</a></li>          
              </ul></li>         
              <li title="The stories I like"><div class="buttonbg" style="width: 69px;"><a href="stories_eng.html" target="_self">Stories</a></div></li>
              <li title="My self made poems"><div class="buttonbg"><a href="poems_eng.html" target="_self">Poems</a></div></li>
              <li><div class="arrow buttonbg" style="width: 120px;"><a class="button_7">Politics etc</a></div>
                <ul>
                <li class="first_item"><a href="religion_eng.html" target="_self" title="This is controversial at least">Religion</a></li>
                <li class="second_item"><a href="politics_eng.html" target="_self" title="Domestic politics that interests me ">Norwegian politics in the news</a></li>
                  <li class="last_item"><a href="international_eng.html" target="_self" title="The most exciting international news">International news</a></li>
                </ul></li>
              <li><div class="arrow buttonbg"><a class="button_8">Blog</a></div>
                <ul>
                <li class="first_item"><a href="personal_eng.html" target="_self" title="From my heart ">Personal</a></li>
                <li><a href="histories_eng.html" target="_self" title="Some histories from my life">Stories in my life</a></li>
                <li class="last_item"><a href="news_eng.html" target="_self" title="My views on the news">From the news</a></li>
                </ul></li>
              <li title="Yes, contact me please"><div class="buttonbg" style="width: 72px;"><a href="contact_eng.html">Contact</a></div></li>
              <li title="To Norwegian pages"><div class="buttonbg" style="width: 63px;"><a href="index_nor.html" target="_self">Norsk</a></div></li>
              </ul>
    ]]>
	</english>
	<norwegian lang="no"><![CDATA[<ul>
          <link rel="stylesheet" href="/menu/nor/mbcsmb9kax.css" type="text/css" />
          <div id="mb9kaxebul_wrapper" style="max-width: 1024px;">
            <ul id="mb9kaxebul_table" class="mb9kaxebul_menulist css_menu">
            <li title="Til forsiden"><div class="buttonbg" style="width: 60px;"><a href="index_nor.html" target="_self" class="button_1">Hjem</a></div></li>
            <li title="Fremdriften på boken min"><div class="buttonbg"><a href="book_nor.html" target="_self">Min bok</a></div></li>
            <li title="Om brannen i &Aring;lesund 1904"><div class="buttonbg" style="width: 121px;"><a href="aalesund_nor.html" target="_self">&Aring;lesundbrannen</a></div></li>
            <li><div class="arrow buttonbg" style="width: 120px;"><a class="button_4">Interesser etc</a></div>
              <ul>
              <li class="first_item"><a href="int_nor.html" target="_self" title="Mine interesser og ting">Interesser</a></li>
              <li><a href="tech_nor.hmtl" target="_self" title="Teknologi jeg er interessert i">Teknologi</a></li>
              <li class="last_item"><a href="videos_nor.html" target="_self" title="Videoer jeg ser nesten hver dag">Videoer jeg liker</a></li>          
              </ul></li>              
            <li title="Historier jeg liker"><div class="buttonbg" style="width: 77px;"><a href="stories_nor.html" target="_self">Historier</a></div></li>
            <li title="Mine egne dikt"><div class="buttonbg" style="width: 51px;"><a href="poems_nor.html" target="_self">Dikt</a></div></li>
            <li><div class="arrow buttonbg" style="width: 103px;"><a class="button_7">Politikk etc</a></div>
              <ul>
              <li class="first_item"><a href="religion_nor.html" target="_self" title="Dette er i det minste kontroversiellt">Religion</a></li>
              <li class="second_item"><a href="politics_nor.html" target="_self" title="Interessant norsk politikk">Norsk politikk i nyhetene</a></li>
              <li class="last_item"><a href="international_nor.html" target="_self" title="De mest spennende nyhetene fra utlandet">Internasjonale nyheter</a></li>
              </ul></li>
            <li><div class="arrow buttonbg" style="width: 77px;"><a class="button_8">Blogg</a></div>
              <ul>
              <li class="first_item"><a href="personal_nor.html" target="_self" title="Rett fra hjertet">Personlig</a></li>
              <li><a href="histories_nor.html" target="_self" title="Alle historier er fra livet mitt">Historier fra livet mitt</a></li>
              <li class="last_item"><a href="news_nor.html" target="_self" title="Mitt syn på innenriks politikk">Fra nyhetene</a></li>
              </ul></li>
            <li title="Ja, kotakt meg"><div class="buttonbg" style="width: 71px;"><a href="contact_nor.html" target="_self">Kontakt</a></div></li>
            <li title="Til engelske sider"><div class="buttonbg"><a href="index.html" target="_self">English</a></div></li>
            </ul>
        ]]>
	</norwegian>
</text>